# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
Lib/
Scripts/
Include/
pyvenv.cfg
.venv/
env/
venv/

# Distribution / Build
dist/
build/
*.spec

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
